/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
  /* lato-700italic - latin */
 @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
         url('../fonts/lato-v16-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
 @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }


html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper_full {
    max-width: 1262px;
    margin: 0 auto;
}

.section_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section_title::after {
    display: block;
    content: '';
    max-width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: relative;
    bottom: -7px;
    left: 0;
    }

.link {
    display: inline-block;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-acon.svg) no-repeat  95% center;
    transition: 0.2s all;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
}

.link:hover, 
.link:focus {
    background: url(../img/svg/arrow-right-acon.svg) no-repeat  right center;
}

/*Header style start*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.header_link:hover, 
.header_link:active,
.header_link:active {
    opacity: 0.75 ;
}

/*Header style end*/

/*Intro style start*/

.intro {
    height: 962px;
    background: url(../img/intro-bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 223px;
}

.intro_title {
    padding-top: 263px;
    margin-bottom: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    max-width: 619px;
}

.intro_subtitle {
    color: white;
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}

.search-form_info {
    display: flex;
    flex-wrap: wrap;
}

.search-form_field {
    background:transparent url(../img/svg/circle-icon.svg) no-repeat left top;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-form_field::placeholder {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: white;
}

.search-form_submit {
    padding: 15 39;
    background-color: #1B7DFF;
    color: white;
    width: 170px;
    border: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-transform: uppercase;
}

.search-form_submit:hover,
.search-form_submit:active,
.search-form_submit:focus{
    background-color: #095ecf;
}

/*Intro style end*/

/*Benefits style start*/

.benefits {
    margin-bottom: 131px;
}

.benefits_wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits_title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-99%);
    background-color: white;
    
}

.benefits_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 100px;
}
.benefits_card {
    grid-column: span 1;
    margin-left: 55px;
    padding-bottom: 112px;
}

.benefits_card-pic {
    padding-bottom: 37px;
    max-width: 66px;
}

.benefits_card-thumb {
    display: block;
}

.benefits_card_title {
    padding-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.benefits_card_desc {
    padding-bottom: 39px;
}

/*Benefits style end*/

/* Places style start */

.places {
    margin-bottom: 131px;
}

.places_caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places_title {
    margin-right: 15px;
}

.places_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places_card {
    position: relative;
    overflow: hidden;
}

.places_card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places_card:hover .places_card-pic {
    transform: scale(1.05);
}

.places_card-size-lg {
    grid-column: span 3;
    height: 354px;
}

.places_card-size-sm {
    grid-column: span 2;
    height: 283px;
}

.places_card-pic {
    width: 100%;
    object-fit: cover;
    transition: 0.15s all;
}

.places_card-pic-size-lg {
    height: 354px;
}

.places_card-pic-size-sm {
    height: 283px;
}

.places_card-title {
    display: block;
    position: absolute;
    bottom: 27px;
    left: 29px;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    z-index: 3;
}

.places_card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* Places style end */

/* Tours style start */

.tours {
    margin-bottom: 139px;
}

.tours_tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 100px;
    align-items: center;
    margin-bottom: 77px;
}

.tour_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 47px;
}

.tour_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_desc {
    font-size: 16px;
    line-height: 24px; 
    margin-bottom: 35px;
}

/* Tours style end */

/* Top style start */

.top {
    margin-bottom: 86px;
}

.top_title {
    margin-bottom: 64px;
}
.top_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 58px ;
}
.top_card {
    display: flex;
    flex-direction: column;
}

.top_card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top_card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 36, 0.6);
    align-items: center;
}

.top_card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}

.top_card-likes {
    padding-right: 20px;
    background: url(../img/svg/heart-icon.svg) no-repeat right center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-right: 14px;
}

.top_card-comments {
    padding-right: 23px;
    background: url(../img/svg/comments-icon.svg) no-repeat right center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.top_card-desc {
    margin-bottom: 31px;
}

.top_card-button {
    width: 118px;
    padding: 12px 19px;
    background-color: #006DFE;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
    margin: auto auto 0 0 ;
}
.top_card-button:hover,
.top_card-button:active,
.top_card-button:focus {
    background-color: #095ecf;
}



/* Top style end */